---
---

@import "{{ site.theme }}";

// ----------------------------------

$color-accent: #CBFF00;
$color-primary: #FDE0DB;
$color-primary-dark: rgb(243, 118, 206);
$ink: #1E1E1E;
$paper: #fffbfc;

$font-sans: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
$font-serif: 'IBM Plex Serif', serif;

$site-max-width: 50rem;
$text-max-width: 68ex;
$size-sm: 20em;
$size-md: 35em;
$size-lg: 50em;
$unit: 8px;

$body-line-height: 1.5;
$tight-line-height: 1.35;
$heading-line-height: 1.15;
$prose-line-height: 1.62;

$small-text: 0.75rem;

// ----------------------------------

@mixin at-media($breakpoint) {
	@media (min-width: $breakpoint) {
		@content;
	}
}

@mixin size-sm {
	@include at-media($size-md) {
		font-size: $small-text;
	}
}

@mixin size-md {
	@include at-media($size-md) {
		font-size: 1.15rem;
	}
}

@mixin size-lg {
	@include at-media($size-md) {
		font-size: 1.5rem;
	}
}

@function units($multiplier) {
	$in-px: $multiplier * $unit;
	$in-rem: ($in-px / 16px) * 1rem;
	@return $in-rem;
}

// ----------------------------------

::selection {
  background: $color-accent;
  text-shadow: none;
}

html, footer {
	font-family: $font-sans;
}

html {
	font-size: 100%;
	background-color: $paper;
}

header {
	margin-bottom: units(4);

	strong {
		@include size-lg;
	}
}

body {
	background-color: transparent;
	color: $ink;
	font-size: 100%;
	line-height: $body-line-height;
	max-width: $site-max-width;
	margin: 0 auto;
	padding: units(2);
}

footer {
	line-height: $tight-line-height;
	margin-top: units(6);

	p {
		font-family: $font-sans;
		margin-bottom: units(0.5);
	}

	small {
		display: block;
		font-size: $small-text;
		margin-top: 0;
	}
}

h1, h2, h3, h4, h5, h6 {
	line-height: $heading-line-height;
	margin-bottom: 0;

	& + p,
	& + ul,
	& + ol {
		margin-top: units(1.5);
	}
}

h1, h2 {
	font-size: 1rem;

	@include at-media($size-md) {
		font-size: 1.5rem;
	}
}

h1 {
	margin-top: units(1);
	font-weight: bold;
}

.index h1 {
	margin-top: units(1.5);
}

h2 {
	font-weight: normal;
	margin-top: units(4);

	@include at-media($size-md) {
		margin-top: units(6);
	}
}

p {
	font-family: $font-serif;
	line-height: $prose-line-height;
	margin-bottom: 0;
	max-width: $text-max-width;

	@include at-media($size-md) {
		font-size: 1.15rem;
	}

	* + & {
		margin-top: 1em;
	}
}

ul, ol {
	list-style-type: none;

	li {
		margin-top: units(1);
		padding-top: units(1);
		border-top: 1px solid $color-primary;
	}
}

a {
	border-bottom: 2px solid $color-primary;
	color: $ink;
	display: inline-block;
	line-height: 1.4;

	&:hover {
		border-color: $color-primary-dark;
		text-decoration: none;
	}
}

b, strong {
	font-family: $font-sans;
	font-weight: bold;
}

.intro {
	line-height: $body-line-height;
	@include at-media($size-md) {
		font-size: 1.5rem;
	}
}

.info {
	font-size: $small-text;
	margin-top: units(2);

	li {
	 	border-top: none;
	 	margin: 0;
	 	padding: 0;
	 }

	@include at-media($size-md) {
		font-size: 1rem;
	}
}

.links {
	li {
	 	border-top: none;
	}
}